{% extends '_template.html.twig' %}
{% block content %}
  <div class="box">
      <article class="media">
          <div class="media-left">
              <figure class="image is-128x128">
                  <img src="https://loremflickr.com/256/256/album,music/all?lock=ID" alt="Image">
              </figure>
          </div>
          <div class="media-content">
              <div class="content">
                  <p>
                      <a href="#" class="has-text-primary">
                          <strong>Titre Album</strong>
                      </a>
                      <small>01/02/2019</small>
                      <br>
                      <small>
                          <strong>Artiste:</strong>
                          <a href="#">Nom Artiste</a>
                      </small><br>
                      <small>
                          <strong>Label:</strong>
                          <a href="#">Nom Label</a>
                      </small><br>
                      Description
                  </p>
              </div>
          </div>
      </article>
  </div>
{% endblock %}